<div class="row py-2">
    <div class="col-12">
        <h3 class="text-center fw-bold">Form Create</h3>
    </div>
    <div class="col-2"></div>
    <div class="col-8">

<form class="row g-3" method="POST" action="store">
  <div class="col-md-6 col-sm-12">
    <label for="inputEmail4" class="form-label">Tên môn học</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="col-md-6 col-sm-12">
    <label for="inputPassword4" class="form-label">Loại môn học</label>
    <input type="text" class="form-control" id="subjectType" name="subjectType">
  </div>
  <div class="col-12 col-sm-12">
    <label for="inputAddress" class="form-label">Khoa</label>
    <input type="text" class="form-control" id="department" name="department" placeholder="KHMT">
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>

    </div>
    <div class="col-2"></div>
</div>